---
import BaseLayout from '@/layouts/BaseLayout.astro';
import UploadHandler from '@/components/UploadHandler';
---

<BaseLayout>
  <section class="flex flex-col justify-center items-center pb-8">
    <h1 class="font-bold text-3xl pb-4">Photo2Calendar</h1>
    <p class="text-sm">Convert your work schedule photos into calendar events instantly</p>
  </section>

  <section class="bg-white shadow rounded-lg p-6 dark:bg-slate-700">
    <UploadHandler client:load />

    <div class="mt-4">
      <h2 class="text-lg font-semibold">How it works</h2>
      <ol class="list-decimal list-inside space-y-2 text-sm">
        <li>Upload a photo of your work schedule</li>
        <li>Our system will automatically extract the schedule information</li>
        <li>Review the extracted schedule</li>
        <li>Download the schedule as an ICS file to import into your calendar</li>
      </ol>
    </div>
  </section>
</BaseLayout>
